.header-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.tabs {
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 16px;
}

.header-container button {
  color: black;
}

